<div class="container">
  <app-product-card
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [imgUrl]="product.imgUrl"
    [price]="product.price"
  ></app-product-card>
  <app-product-card
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [imgUrl]="product.imgUrl"
    [price]="product.price"
  ></app-product-card>
  <app-product-card
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [imgUrl]="product.imgUrl"
    [price]="product.price"
  ></app-product-card>
  <app-product-card
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [imgUrl]="product.imgUrl"
    [price]="product.price"
  ></app-product-card>
  <app-product-card
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [imgUrl]="product.imgUrl"
    [price]="product.price"
  ></app-product-card>
</div>
