:host {
  display: block;
  padding: 10px;
}

div.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
}

section.form {
  padding-bottom: 10px;
  flex-basis: 35%;
  border: 1px solid #ccc;
}

section.detail {
  padding-bottom: 10px;
  flex-basis: 55%;
  border: 1px solid #ccc;
  width: 1000px;
  gap: 50px;
  margin-left: 650px;
  margin-right: 5px;
  margin-bottom: 100px;
}

h3 {
  margin: 0;
  padding: 10px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  text-align: center;
}

div.form-item,
div.item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  gap: 10px;
}

div.form-item > label {
  flex-basis: 150px;
  text-align: center;
}

div.form-item > input[type="text"] {
  padding: 5px;
  flex-grow: 1;
  height: 20px;
  font-size: 20px;
}

.tool-bar {
  display: flex;
  justify-content: center;
}

.tool-bar button {
  padding: 10px 20px;
  border: solid 1px #ccc;
  cursor: pointer;
  background-color: white;
  color: #808080;
}

.error-message {
  color: red;
  margin-left: 5px;
}
